@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
<<<<<<< HEAD
@source '../**/*.blade.php';
@source '../**/*.js';
=======
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";
>>>>>>> be6cabad91de1508e88db3ee31484b03523d920c

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
